books-backend/node_modules/*
books-backend/node_modules

books-frontend/node_modules/*
books-frontend/node_modules
books-frontend/build
books-frontend/coverage
shopa-dropa-interview-assignmentv1.0.0.zip
